# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Keep this tracked
!.terraform.lock.hcl

# Don't commit local variables (may contain secrets)
*.tfvars
*.tfvars.json

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db